<div class="content py-5">
  <div class="container min-height">
    <!-- Login form -->
    <form class="form-login form-wrapper form-narrow">
      <h3 class="title-divider">
        <span class="color-green">Novo Cadastro</span>
      </h3>
      <div class="form-group">
        <label class="sr-only" for="login-email-page">Email</label>
        <input type="email" class="form-control email" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="login-password-page">Senha</label>
        <input type="password" class="form-control password" placeholder="Senha">
      </div>
      <div class="form-group">
        <label class="sr-only" for="login-password-page">Confirmar Senha</label>
        <input type="password" class="form-control password" placeholder="Confirmar Senha">
      </div>
      <button type="button" class="btn btn-primary">Confirmar</button>
    </form>
  </div>

</div>
