    <!-- ======== @Region: #page-header ======== -->
    <div id="page-header">
      <div class="container clearfix d-flex justify-content-between flex-column-reverse">
        <h4 class="mb-0 float-md-left color-red-dark text-uppercase">
          Confirmação de Agendamento
        </h4>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-right"> <a class="breadcrumb-item" [routerLink]="''">Home</a>
          <a class="breadcrumb-item" [routerLink]="'agendamento'">Busca por fotógrafos</a>
          <span class="breadcrumb-item active">Checkout</span> </nav>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
      <div class="container">
        <h4>
          Endereço de Cobrança
        </h4>
        <div class="mb-4 bg-light p-3 rounded mb-4" id="billing">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="sr-only">Primeiro Nome</label>
              <input type="text" class="form-control" placeholder="Primeiro Nome">
            </div>
            <div class="col-md-6 mb-3">
              <label class="sr-only">Último Nome</label>
              <input type="text" class="form-control" placeholder="Último Nome">
            </div>
            <div class="col-md-6 mb-3">
              <input id="field-address-1" type="text" class="form-control" placeholder="Logradouro">
            </div>
            <div class="col-md-6 mb-3">
              <input id="field-address-2" type="text" class="form-control" placeholder="Número">
            </div>
            <div class="col-md-6 mb-3">
              <input id="field-address-2" type="text" class="form-control" placeholder="Bairro">
            </div>
            <div class="col-md-6 mb-3">
              <input id="field-address-2" type="text" class="form-control" placeholder="CEP">
            </div>
            <div class="col-md-6 mb-3">
              <label class="sr-only">Cidade</label>
              <input type="tel" class="form-control" placeholder="Cidade">
            </div>
            <div class="col-md-6 mb-3">
              <label class="sr-only">País</label>
              <select class="form-control">
                <option>Brasil</option>
              </select>
            </div>
          </div>
          <!-- <div class="form-check">
                  <label class="form-check-label" data-toggle="collapse" data-target="#shipping" aria-expanded="false"
                      aria-controls="shipping">
                      <input class="form-check-input" type="checkbox" value="ship-address-alt">
                      Ship to different address
                  </label>
              </div> -->
        </div>
        <!-- Shipping form -->
        <div class="collapse" id="shipping">
          <h4>
            Shipping Address
          </h4>
          <div class="bg-light p-3 mb-4 rounded">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">First Name</label>
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="col-md-6 mb-3">
                <label class="sr-only">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Address line 1">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Address line 2">
              </div>
              <div class="col-md-6 mb-3">
                <label class="sr-only">City</label>
                <input type="tel" class="form-control" placeholder="City">
              </div>
              <div class="col-md-3 mb-3">
                <label class="sr-only">Post Code</label>
                <input type="email" class="form-control" placeholder="Post Code">
              </div>
              <div class="col-md-3 mb-3">
                <label class="sr-only">Country</label>
                <select class="form-control">
                  <option>Country</option>
                  <option>United States</option>
                  <option>Canada</option>
                  <option>France</option>
                  <option>UK</option>
                  <option>Germany</option>
                  <option>Belgium</option>
                  <option>Australia</option>
                </select>
              </div>
              <div class="col-md-12">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Save to Address Book
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Payment Options -->
        <h4 class="mt-5">
          Opções de Pagamento
        </h4>
        <div id="payment-options" class="bg-light p-3 rounded">
          <div class="form-check">
            <label class="form-check-label" data-toggle="radio-collapse" data-target="#credit-card"
              data-parent="#payment-options">
              <input class="form-check-input" type="radio" value="credit-card" checked>
              Cartão de Crédito <i class="fas fa-credit-card"></i>
            </label>
            <div class="collapse show" id="credit-card">
              <div class="bg-white p-3 mt-2 rounded pos-relative">
                <div class="row">
                  <div class="col-lg-3 mb-2 md-md-0">
                    <input type="text" class="form-control" name="card-holder-name" id="card-holder-name"
                      placeholder="Nome Completo">
                  </div>
                  <div class="col-lg-3 mb-2 md-md-0">
                    <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Número">
                  </div>
                  <div class="col-md-4 col-lg-2 mb-2 md-md-0">
                    <select class="form-control" name="expiry-month" id="expiry-month">
                      <option>Mês</option>
                      <option value="01">Jan (01)</option>
                      <option value="02">Fev (02)</option>
                      <option value="03">Mar (03)</option>
                      <option value="04">Abr (04)</option>
                      <option value="05">Mai (05)</option>
                      <option value="06">Jun (06)</option>
                      <option value="07">Jul (07)</option>
                      <option value="08">Ago (08)</option>
                      <option value="09">Set (09)</option>
                      <option value="10">Out (10)</option>
                      <option value="11">Nov (11)</option>
                      <option value="12">Dez (12)</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-lg-2 mb-2 md-md-0">
                    <select class="form-control" name="expiry-year">
                      <option>Ano</option>
                      <option value="19">2019</option>
                      <option value="20">2020</option>
                      <option value="21">2021</option>
                      <option value="22">2022</option>
                      <option value="23">2023</option>
                      <option value="24">2024</option>
                      <option value="25">2025</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Código Seg.">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label" data-toggle="radio-collapse" data-target="#paypal"
              data-parent="#payment-options">
              <input class="form-check-input" type="radio" value="paypal">
              PayPal <i class="fab fa-paypal"></i>
            </label>
            <div class="collapse" id="paypal">
              <div class="bg-white p-3 mt-2 rounded">
                <label class="sr-only">PayPal Email</label>
                <input type="email" class="form-control" placeholder="PayPal Email">
                <small>Insira aqui email de cadastro no PayPal.</small>
              </div>
            </div>
          </div>
        </div>
        <!-- Cart Summary -->
        <h4 class="mt-5">
          Carrinho de Compras
        </h4>
        <!--Shopping cart items-->
        <table class="table table-responsive mb-0 cart-table">
          <thead>
            <tr>
              <th class="w-5"></th>
              <th class="w-20">Item</th>
              <th class="w-20">Preço</th>
            </tr>
          </thead>
          <tbody>
            <!-- Cart item 1 -->
            <tr>
              <td class="text-center align-middle">
                <a href="#" class="close cart-remove"> <i class="fa fa-times"></i> </a>
              </td>
              <td> <span class="font-weight-bold">Fotógrafo para Casamento</span> </td>
              <td>R$3.500,00</td>
            </tr>


          </tbody>
        </table>
        <!--End of Shopping cart items-->
        <hr class="my-4 hr-lg" />
        <div class="cart-content-footer">
          <div class="row">
            <div class="col-md-4">
              <h6 class="text-muted mb-3">
                Possui cupom de desconto?
              </h6>
              <!-- Discount form -->
              <form action="#" role="form">
                <div class="input-group">
                  <label class="sr-only" for="discount">Código Promocional</label>
                  <input type="tel" class="form-control" id="discount" placeholder="Código Promocional">
                  <span class="input-group-append">
                    <button class="btn btn-dark" type="button">Registrar</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-md-8 text-md-right mt-3 mt-md-0">
              <div class="cart-content-totals">
                <h4 class="font-weight-light">
                  Subtotal: R$3.500,00
                </h4>
                <h4 class="font-weight-light">
                  Desconto (10%): <span class="text-danger">-R$350,00</span>
                </h4>
                <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0" />
                <h3>
                  Total: <span class="text-primary">R$3.150,00</span>
                </h3>
                <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0" />
              </div>
              <!-- Proceed to checkout -->
              <!-- <a href="shop-cart.html" class="btn btn-outline-primary btn-rounded btn-lg">Back to Cart</a> -->
              <a (click)="goToConfirmacao()" class="btn btn-primary color-red-dark btn-rounded btn-lg">Efetuar
                Pagamento</a>
            </div>
          </div>
        </div>
      </div>
    </div>
