<div class="bg-primary bg-op-2 py-7 pos-relative">
  <!-- FAQ background image -->
  <img src="assets/img/businessman.svg"
    class="d-none d-lg-block icon-5x icon-svg mr-2 mr-xl-6 op-2 pos-absolute pos-b pos-r" alt="Developer icon">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4 class="py-2 px-4 mx-auto bg-primary bg-op-2 text-primary d-inline-block rounded-30 text-lh-none mb-4">
          FAQs
        </h4>
        <h5>
          Tem perguntas? Não se preocupe, estamos aqui para ajudar!
        </h5>
      </div>
      <div class="col-md-5 col-xl-6">
        <div class="card-accordion card-accordion-list-style card-accordion-icons-left" id="faq-accordion"
          role="tablist" aria-multiselectable="true">
          <!-- Card FAQ 1 -->
          <div class="card mb-2 border-0 rounded-20 bg-white bg-op-8">
            <p class="card-header py-0 px-0 border-0" role="tab" id="headingOne"> <a data-toggle="collapse"
                data-parent="#faq-accordion" href="#faq-collapse1" aria-expanded="false" aria-controls="collapse1"
                class="collapsed text-primary"> FAQ #1 </a> </p>
            <div id="faq-collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1"
              data-parent="#faq-accordion">
              <div class="card-body op-8 pt-2">Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus
                praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.</div>
            </div>
          </div>
          <!-- Card FAQ 2 -->
          <div class="card mb-2 border-0 rounded-20 bg-white bg-op-8">
            <p class="card-header py-0 px-0 border-0" role="tab" id="headingOne">
              <a data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse2" aria-expanded="false"
                aria-controls="collapse2" class="collapsed text-primary"> FAQ #2 </a> </p>
            <div id="faq-collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
              data-parent="#faq-accordion">
              <div class="card-body op-8 pt-2">Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus
                praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.</div>
            </div>
          </div>
          <!-- Card FAQ 3 -->
          <div class="card mb-2 border-0 rounded-20 bg-white bg-op-8">
            <p class="card-header py-0 px-0 border-0" role="tab" id="headingOne"> <a data-toggle="collapse"
                data-parent="#faq-accordion" href="#faq-collapse3" aria-expanded="false" aria-controls="collapse3"
                class="collapsed text-primary"> FAQ #3 </a> </p>
            <div id="faq-collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
              data-parent="#faq-accordion">
              <div class="card-body op-8 pt-2">Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus
                praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.</div>
            </div>
          </div>
          <!-- Card FAQ 4 -->
          <div class="card mb-2 border-0 rounded-20 bg-white bg-op-8">
            <p class="card-header py-0 px-0 border-0" role="tab" id="headingOne"> <a data-toggle="collapse"
                data-parent="#faq-accordion" href="#faq-collapse4" aria-expanded="false" aria-controls="collapse4"
                class="collapsed text-primary"> FAQ #4 </a> </p>
            <div id="faq-collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4"
              data-parent="#faq-accordion">
              <div class="card-body op-8 pt-2">Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus
                praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.</div>
            </div>
          </div>
          <!-- Card FAQ 5 -->
          <div class="card mb-2 border-0 rounded-20 bg-white bg-op-8">
            <p class="card-header py-0 px-0 border-0" role="tab" id="headingOne"> <a data-toggle="collapse"
                data-parent="#faq-accordion" href="#faq-collapse5" aria-expanded="false" aria-controls="collapse5"
                class="collapsed text-primary"> FAQ #5 </a> </p>
            <div id="faq-collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5"
              data-parent="#faq-accordion">
              <div class="card-body op-8 pt-2">Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus
                praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
