.mat-form-field {
  width: 100%;
}

.info-inicial {
  min-height: 70vh;
  background-image: url('../../../../../assets/img/camera-dslr-landscape-212372.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.btn-agendar {
  margin-top: -16px;
}
