<div id="highlighted">
  <div class="info-inicial bg-white overlay overlay-primary overlay-op-8 text-center row p-5 pt-7">

    <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">
      <form [formGroup]="myForm" class="row mb-2 w-auto pos-relative align-items-center mw-400px">

        <div class="col-12 mb-2">
          <p class="text-white text-center w-100 mx-auto fz20">
            O caminho mais curto entre você e o fotógrafo que precisa
          </p>
        </div>

        <div class="col-12 mb-2">
          <mat-form-field>
            <input type="text" matInput placeholder="Evento" formControlName="evento" [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.tipo">
                <mat-option *ngFor="let name of group.names" [value]="name">
                  {{name}}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-12 mb-2">
          <mat-form-field>
            <mat-label>Local</mat-label>
            <mat-select>
              <mat-option *ngFor="let local of locais" [value]="local.value">
                {{local.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 mb-2">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-12 mb-4">
          <a [routerLink]="'/agendamento'"
            class="btn bg-red-medium color-white p-2 text-capitalize font-weight-bold fz13 btn-block"
            data-toggle="scroll-link">Buscar Fotógrafo</a>
        </div>
      </form>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
    </div>

  </div>
</div>
