    <!-- ======== @Region: #page-header ======== -->
    <div id="page-header">
      <div class="container clearfix d-flex justify-content-between flex-column-reverse">
        <h4 class="mb-0 float-md-left color-red-dark text-uppercase">
          Confirmação de Pedido
        </h4>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-right"> <a class="breadcrumb-item" href="index.html">Home</a>
          <a class="breadcrumb-item" href="#">Busca por fotógrafo</a>
          <a class="breadcrumb-item" href="#">Checkout</a>
          <span class="breadcrumb-item active">Confirmação</span> </nav>
      </div>
    </div>


    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
      <div class="container">
        <div class="text-center mb-6">
          <i class="fa fa-check-circle icon-6x text-success"></i>
          <h3>
            O seu pedido foi finalizado com sucesso!
          </h3>
          <h4 class="font-weight-normal">
            Pedido número: 346899-2834-ZZA
          </h4>
          <p>Um e-mail de confirmação foi enviado para seu endereço de e-mail: example@example.com.</p>
        </div>
        <h4>
          Resumo do Pedido
        </h4>
        <table class="table table-responsive mb-0 cart-table cart-table-summary">
          <tbody>
            <!-- Cart item 1 -->
            <tr>
              <td class="w-75"> <span class="font-weight-bold">Fotógrafo de Casamento</span></td>
              <td class="text-md-right w-15"><span class="font-weight-bold">R$3.500,00</span></td>
            </tr>

          </tbody>
        </table>
        <hr class="my-4 hr-lg" />
        <div class="cart-content-footer">
          <div class="row">
            <div class="col-md-4">
              <h6 class="text-muted mb-3">
                Se você tiver dúvidas sobre seu pedido, envie um email para example@example.com.
              </h6>
            </div>
            <div class="col-md-8 text-md-right mt-3 mt-md-0">
              <div class="cart-content-totals">
                <h4 class="font-weight-light">
                  Subtotal: R$3.500,00
                </h4>
                <h4 class="font-weight-light">
                  Desconto (10%): <span class="text-danger">-R$350,00</span>
                </h4>
                <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0" />
                <h3>
                  Total: <span class="text-primary">R$3.150,00</span>
                </h3>
                <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0" />
              </div>
              <!-- Proceed to checkout -->
            </div>
          </div>
        </div>
      </div>
    </div>
