  <div class="row m-0 bg-red-medium pt-5 pb-5 p-3 pl-5">

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex align-items-center text-center justify-content-center">
      <h3 class="color-white m-0 text-center mb-3">Melhores Avaliações</h3>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 d-flex align-items-center">
      <mat-form-field class="w-100">
        <mat-label>Evento</mat-label>
        <mat-select [(value)]="evento">
          <mat-option value="Casamento">Casamento</mat-option>
          <mat-option value="Debutante">Debutante</mat-option>
          <mat-option value="Bodas">Bodas</mat-option>
          <mat-option value="Aniversário">Aniversário</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 d-flex align-items-center">
      <mat-form-field class="w-100">
        <mat-label>Local</mat-label>
        <mat-select [(value)]="local">
          <mat-option value="Belo Horizonte">Belo Horizonte</mat-option>
          <mat-option value="São Paulo">São Paulo</mat-option>
          <mat-option value="Rio de Janeiro">Rio de Janeiro</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>


  <div class="row m-0 p-4">
    <!--Profile Card 5-->
    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Casamento' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo1.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <!--
          --><a href="#3" title="Give 3 stars">★</a>
          <!--
          --><a href="#2" title="Give 2 stars">★</a>
          <!--
          --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Fernando Moraes <span class="fz8 color-grey pr-3">Rio de Janeiro</span>
          </h5>
          <p class="card-text text-center">Casamento, Debutante, Bodas</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>


    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Casamento' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo2.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <a href="#4" title="Give 4 stars">★</a>
          <!--
            --><a href="#3" title="Give 3 stars">★</a>
          <!--
            --><a href="#2" title="Give 2 stars">★</a>
          <!--
            --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Ludmila Coelho <span class="fz8 color-grey pr-3">São Paulo</span> </h5>
          <p class="card-text text-center">Gestante, Parto, Debutante ...</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>

    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Casamento' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo3.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <a href="#4" title="Give 4 stars">★</a>
          <!--
              --><a href="#3" title="Give 3 stars">★</a>
          <!--
              --><a href="#2" title="Give 2 stars">★</a>
          <!--
              --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Edu Santos <span class="fz8 color-grey pr-3">Belo Horizonte</span> </h5>
          <p class="card-text text-center">Casamento, Debutante, Sensual</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>


    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Debutante' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo4.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>

          <a href="#2" title="Give 2 stars">★</a>
          <!--
                --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Joaquim Martins <span class="fz8 color-grey pr-3">São Paulo</span> </h5>
          <p class="card-text text-center">Casamento, Debutante, Infantil ...</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>


    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Debutante' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo5.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>

          <!--
                  --><a href="#2" title="Give 2 stars">★</a>
          <!--
                  --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Mari Cardoso <span class="fz8 color-grey pr-3">Rio de Janeiro</span> </h5>
          <p class="card-text text-center">Casamento, Gestante, Infantil ...</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>


    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Casamento' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo6.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <a href="#4" title="Give 4 stars">★</a>
          <!--
                    --><a href="#3" title="Give 3 stars">★</a>
          <!--
                    --><a href="#2" title="Give 2 stars">★</a>
          <!--
                    --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Marcela Alves <span class="fz8 color-grey pr-3">Belo Horizonte</span> </h5>
          <p class="card-text text-center">Casamento, Debutante</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Bodas' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo7.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <!--
                      --><a href="#3" title="Give 3 stars">★</a>
          <!--
                      --><a href="#2" title="Give 2 stars">★</a>
          <!--
                      --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Antônia Moura <span class="fz8 color-grey pr-3">São Paulo</span> </h5>
          <p class="card-text text-center">Casamento, Debutante</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Bodas' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo8.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <!--
                        --><a href="#3" title="Give 3 stars">★</a>
          <!--
                        --><a href="#2" title="Give 2 stars">★</a>
          <!--
                        --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Ione Borges <span class="fz8 color-grey pr-3">Belo Horizonte</span> </h5>
          <p class="card-text text-center">Casamento, Parto, Infantil ...</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Aniversário' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo9.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <a href="#4" title="Give 4 stars">★</a>
          <!--
                          --><a href="#3" title="Give 3 stars">★</a>
          <!--
                          --><a href="#2" title="Give 2 stars">★</a>
          <!--
                          --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Lucas Carvalho <span class="fz8 color-grey pr-3">Rio de Janeiro</span>
          </h5>
          <p class="card-text text-center">Casamento</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Aniversário' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo10.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <!--
                            --><a href="#3" title="Give 3 stars">★</a>

          <!--
                            --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Diego Ribeiro <span class="fz8 color-grey pr-3">São Paulo</span> </h5>
          <p class="card-text text-center">Casamento, Gestante, Parto ...</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>
    </div>


    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Aniversário' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo11.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <!--
                              --><a href="#3" title="Give 3 stars">★</a>
          <!--
                              --><a href="#2" title="Give 2 stars">★</a>
          <!--
                              --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Mari Carvalho <span class="fz8 color-grey pr-3">Rio de Janeiro</span> </h5>
          <p class="card-text text-center">Casamento, Debutante, Infantil</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2 shadow mb-2 mw-300px mx-auto" *ngIf="evento == 'Casamento' ">
      <div class="card profile-card-5 m-0">
        <div class="card-img-block">
          <img class="card-img-top mw-200px" src="../../../../../assets/img/fotografos/fotografo12.jpg"
            alt="Card image cap">
        </div>
        <div class="rating rating2 mt-2">
          <a href="#4" title="Give 4 stars">★</a>
          <!--
                                --><a href="#3" title="Give 3 stars">★</a>
          <!--
                                --><a href="#2" title="Give 2 stars">★</a>
          <!--
                                --><a href="#1" title="Give 1 star">★</a>
        </div>
        <div class="card-body pt-0 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title text-center">Saori D'angelo <span class="fz8 color-grey pr-3">São Paulo</span> </h5>
          <p class="card-text text-center">Casamento, Gestante, Infantil ...</p>
          <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
        </div>
      </div>
    </div>
  </div>
