  <div class="bg-green-medium mt-3 mt-lg-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5">
          <img src="assets/img/precavida/MapaBrasil.png" id="img-brasil" class="opacity-4 pt-5" />
        </div>

        <div class="col-lg-6 py-5">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary">
          <h3 class="text-slab color-green-light-1 mt-0 mb-5">
            Como Funciona?
          </h3>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center">
              <i class="fa fa-check text-primary"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="color-green-light-1">
                Agenda Online
              </h4>
              <p>Médicos e Laboratórios disponibilizam suas agendas.</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="font-weight-bold color-green-light-1">
                Descubra os melhores profissionais
              </h4>
              <p>Busque consultas e exames por data, médicos, localização e especialidade ou converse
                com um assistente de saúde personalizado para agendar o melhor cuidado.</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="font-weight-bold color-green-light-1">
                Agende
              </h4>
              <p>Escolha sua consultas e exames quando e onde quiser.</p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary"></i>
            </div>
            <div class="col-10 col-md-11 text-grey">
              <h4 class="font-weight-bold color-green-light-1">
                Pronto!
              </h4>
              <p>Worana agenda sua consulta. Agora é só prosseguir com o pagamento e chegar na
                hora marcada!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
