<div id="content" class="p-0 pt-3">
  <div id="features" class="container pt-3 pb-0 ">
    <p class="text-center mx-auto font-weight-bold color-red-dark fz15 w-100">
      Somos uma plataforma que conecta você aos melhores profissionais da fotografia do Brasil
    </p>
  </div>
</div>
