:root {
  --white: #fff;
  --white-md: #f2f2f2;
  --black-md: #252422;
  --black: #020202;
  --green-light-1: #C2E4E6;
  --green-light: #5bbdc0;
  --green-soft: #006f85;
  --green: #147d8b;
  --green-medium: #1a5d67;
  --green-dark: #173b40;
  --red-light-1: #eaa1a3d6;
  --red-light: #e95d61;
  --red: #d81440;
  --red-medium: #9f1222;
  --red-dark: #3a0d12;
  --grey-light: #dee2e6;
  --grey-soft: #bbbdbf;
  --grey-md: #909090;
  --grey: #575656;
  --grey-dark: #232222;
}

/* // UTILITIES
// ----------------------------------------------------------- */
.centralizar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.zi-0 {
  z-index: 0 !important;
}

.zi-1 {
  z-index: 1 !important;
}

.bsbb {
  box-sizing: borde-box;
}

.box-shadow-grey {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

/* // end utilities
// -----------------------------------------------------------

// PADDING */
.pl-2rem {
  padding-left: 2rem !important;
}

/* // end padding

// MARGIN */

.mt-90px {
  margin-top: 90px;
}

/* // end margin

// -----------------------------------------------------------


// FONT-SIZE */
.fz1 {
  font-size: .1rem;
}

.fz2 {
  font-size: .2rem;
}

.fz3 {
  font-size: .3rem;
}

.fz4 {
  font-size: .4rem;
}

.fz5 {
  font-size: .5rem;
}

.fz6 {
  font-size: .6rem;
}

.fz7 {
  font-size: .7rem;
}

.fz8 {
  font-size: .8rem;
}

.fz9 {
  font-size: .9rem;
}

.fz10 {
  font-size: 1rem !important;
}

.fz11 {
  font-size: 1.1rem;
}

.fz12 {
  font-size: 1.2rem;
}

.fz13 {
  font-size: 1.3rem;
}

.fz14 {
  font-size: 1.4rem;
}

.fz15 {
  font-size: 1.5rem;
}

.fz16 {
  font-size: 1.6rem;
}

.fz17 {
  font-size: 1.7rem;
}

.fz18 {
  font-size: 1.8rem;
}

.fz19 {
  font-size: 1.9rem;
}

.fz20 {
  font-size: 2rem;
}

.fz30 {
  font-size: 3rem;
}

/* // end font-size
// OPACITY
// ----------------------------------------------------------- */
.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: .1 !important;
}

.opacity-2 {
  opacity: .2 !important;
}

.opacity-3 {
  opacity: .3 !important;
}

.opacity-4 {
  opacity: .4 !important;
}

.opacity-5 {
  opacity: .5 !important;
}

.opacity-6 {
  opacity: .6 !important;
}

.opacity-7 {
  opacity: .7 !important;
}

.opacity-8 {
  opacity: .8 !important;
}

.opacity-9 {
  opacity: .9 !important;
}

.opacity-10 {
  opacity: 1 !important;
}

/* // end opacities
// WIDTH, HEIGHT, MAX-WIDTH E MAX-HEIGHT
// ----------------------------------------------------------- */
.w-5 {
  width: 5% !important;
}


.w-10 {
  width: 10% !important;
}


.w-15 {
  width: 15% !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-98 {
  width: 98% !important;
}

.w-100 {
  width: 100% !important;
}

.w-34px {
  width: 34px !important;
}

.w-50px {
  width: 50px !important;
}

.w-75px {
  width: 75px !important;
}

.w-100px {
  width: 100px !important;
}

.w-150px {
  width: 150px !important;
}

.w-200px {
  width: 200px !important;
}

.w-300px {
  width: 300px !important;
}

.w-350px {
  width: 350px !important;
}

.w-400px {
  width: 400px !important;
}

.w-500px {
  width: 500px !important;
}

.w-600px {
  width: 600px !important;
}

.w-700px {
  width: 700px !important;
}

.w-800px {
  width: 800px !important;
}

.w-900px {
  width: 900px !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-30px {
  height: 30px !important;
}

.h-40px {
  height: 40px !important;
}

.h-50px {
  height: 50px !important;
}

.h-60px {
  height: 60px !important;
}

.h-72px {
  height: 72px !important;
}

.h-auto {
  height: auto !important;
}

.h-100vh {
  height: 100vh !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mw-30px {
  max-width: 30px !important;
}

.mw-40px {
  max-width: 40px !important;
}

.mw-50px {
  max-width: 50px !important;
}

.mw-100px {
  max-width: 100px !important;
}

.mw-130px {
  max-width: 130px !important;
}

.mw-150px {
  max-width: 150px !important;
}

.mw-180px {
  max-width: 180px !important;
}

.mw-200px {
  max-width: 200px !important;
}

.mw-300px {
  max-width: 300px !important;
}

.mw-400px {
  max-width: 400px !important;
}

.mw-500px {
  max-width: 500px !important;
}

.mw-600px {
  max-width: 600px !important;
}

.mw-700px {
  max-width: 700px !important;
}

.mw-800px {
  max-width: 800px !important;
}

.mw-900px {
  max-width: 900px !important;
}

.mw-1000px {
  max-width: 1000px !important;
}

.mw-1100px {
  max-width: 1100px !important;
}

.mw-1200px {
  max-width: 1200px !important;
}

.mh-100 {
  max-height: 100% !important;
}

.min-height {
  min-height: 500px;
}

/* // end width, height, max-width e max-height
// COLOR
// ----------------------------------------------------------- */
.color-white {
  color: var(--white) !important;
}

.color-white-md {
  color: var(--white-md) !important;
}

.color-black-md {
  color: var(--black-md) !important;
}

.color-black {
  color: var(--black) !important;
}

.color-green-light-1 {
  color: var(--green-light-1) !important;
}

.color-green-light {
  color: var(--green-light) !important;
}

.color-green-soft {
  color: var(--green-soft) !important;
}

.color-green {
  color: var(--green) !important;
}

.color-green-medium {
  color: var(--green-medium) !important;
}

.color-green-dark {
  color: var(--green-dark) !important;
}

.color-red-light-1 {
  color: var(--red-light-1) !important;
}

.color-red-light {
  color: var(--red-light) !important;
}

.color-red {
  color: var(--red) !important;
}

.color-red-dark {
  color: var(--red-dark) !important;
}

.color-red-medium {
  color: var(--red-medium) !important;
}

.color-red-dark {
  color: var(--red-dark) !important;
}

.color-grey-light {
  color: var(--grey-light) !important;
}

.color-grey-soft {
  color: var(--grey-soft) !important;
}

.color-grey {
  color: var(--grey) !important;
}

.color-grey-md {
  color: var(--grey-md) !important;
}

/* // end colors
// BACKGROUND-COLOR
// ----------------------------------------------------------- */
.bg-transparent {
  background-color: transparent !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-white-md {
  background-color: var(--white-md) !important;
}

a.bg-white-md:focus,
a.bg-white-md:hover,
button.bg-white-md:focus,
button.bg-white-md:hover {
  background-color: var(--white-md) !important;
}

.bg-black-md {
  background-color: var(--black-md) !important;
}

a.bg-black-md:focus,
a.bg-black-md:hover,
button.bg-black-md:focus,
button.bg-black-md:hover {
  background-color: var(--black-md) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

a.bg-black:focus,
a.bg-black:hover,
button.bg-black:focus,
button.bg-black:hover {
  background-color: var(--black) !important;
}



.bg-green-light-1 {
  background-color: var(--green-light-1) !important;
}

a.bg-green-light-1:focus,
a.bg-green-light-1:hover,
button.bg-green-light-1:focus,
button.bg-green-light-1:hover {
  background-color: var(--green-light-1) !important;
}

.bg-green-light-2 {
  background-color: #e7f8f9 !important;
}

a.bg-green-light-2:focus,
a.bg-green-light-2:hover,
button.bg-green-light-2:focus,
button.bg-green-light-2:hover {
  background-color: #e7f8f9 !important;
}

.bg-green-light {
  background-color: var(--green-light) !important;
}

a.bg-green-light:focus,
a.bg-green-light:hover,
button.bg-green-light:focus,
button.bg-green-light:hover {
  background-color: var(--green-light) !important;
}

.bg-green-soft {
  background-color: var(--green-soft) !important;
}

a.bg-green-soft:focus,
a.bg-green-soft:hover,
button.bg-green-soft:focus,
button.bg-green-soft:hover {
  background-color: var(--green-soft) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

a.bg-green:focus,
a.bg-green:hover,
button.bg-green:focus,
button.bg-green:hover {
  background-color: var(--green) !important;
}

.bg-green-medium {
  background-color: var(--green-medium) !important;
}

a.bg-green-medium:focus,
a.bg-green-medium:hover,
button.bg-green-medium:focus,
button.bg-green-medium:hover {
  background-color: var(--green-medium) !important;
}

.bg-green-dark {
  background-color: var(--green-dark) !important;
}

a.bg-green-dark:focus,
a.bg-green-dark:hover,
button.bg-green-dark:focus,
button.bg-green-dark:hover {
  background-color: var(--green-dark) !important;
}

.bg-red-light {
  background-color: var(--red-light) !important;
}

a.bg-red-light:focus,
a.bg-red-light:hover,
button.bg-red-light:focus,
button.bg-red-light:hover {
  background-color: var(--red-light) !important;
}

.bg-red-light-1 {
  background-color: var(--red-light-1) !important;
}

a.bg-red-light-1:focus,
a.bg-red-light-1:hover,
button.bg-red-light-1:focus,
button.bg-red-light-1:hover {
  background-color: var(--red-light-1) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

a.bg-red:focus,
a.bg-red:hover,
button.bg-red:focus,
button.bg-red:hover {
  background-color: var(--red-medium) !important;
}

.bg-red-medium {
  background-color: var(--red-medium) !important;
}

a.bg-red-medium:focus,
a.bg-red-medium:hover,
button.bg-red-medium:focus,
button.bg-red-medium:hover {
  background-color: var(--red-medium) !important;
}

.bg-red-dark {
  background-color: var(--red-dark) !important;
}

a.bg-red-dark:focus,
a.bg-red-dark:hover,
button.bg-red-dark:focus,
button.bg-red-dark:hover {
  background-color: var(--red-dark) !important;
}

.bg-grey-light {
  background-color: var(--grey-light) !important;
}

a.bg-grey-light:focus,
a.bg-grey-light:hover,
button.bg-grey-light:focus,
button.bg-grey-light:hover {
  background-color: var(--grey-light) !important;
}



.bg-grey-dark {
  background-color: var(--grey-dark) !important;
}

a.bg-grey-dark:focus,
a.bg-grey-dark:hover,
button.bg-grey-dark:focus,
button.bg-grey-dark:hover {
  background-color: var(--grey-dark) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

a.bg-grey:focus,
a.bg-grey:hover,
button.bg-grey:focus,
button.bg-grey:hover {
  background-color: var(--grey) !important;
}

.bg-grey-md {
  background-color: var(--grey-md) !important;
}

a.bg-grey-md:focus,
a.bg-grey-md:hover,
button.bg-grey-md:focus,
button.bg-grey-md:hover {
  background-color: var(--grey-md) !important;
}

/* // end background-colors
// BORDER
// ----------------------------------------------------------- */
.border-color-grey-light {
  border-color: var(--grey-light) !important;
}

.border {
  border-width: 1px !important;
  border-style: solid !important;
}

.border-top {
  border-top-width: 1px !important;
  border-top-style: solid !important;
}

.border-right {
  border-right-width: 1px !important;
  border-right-style: solid !important;
}

.border-bottom {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}

.border-left {
  border-left-width: 1px !important;
  border-left-style: solid !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

/* // end border
// BORDER-RADIUS
// ----------------------------------------------------------- */
.border-radius-1px {
  border-radius: 1px !important;
}

.border-radius-2px {
  border-radius: 2px !important;
}

.border-radius-3px {
  border-radius: 3px !important;
}

.border-radius-4px {
  border-radius: 4px !important;
}

.border-radius-5px {
  border-radius: 5px !important;
}

.border-radius-6px {
  border-radius: 6px !important;
}

.border-radius-7px {
  border-radius: 7px !important;
}

.border-radius-8px {
  border-radius: 8px !important;
}

.border-radius-9px {
  border-radius: 9px !important;
}

.border-radius-10px {
  border-radius: 10px !important;
}

.border-radius-11px {
  border-radius: 11px !important;
}

.border-radius-12px {
  border-radius: 12px !important;
}

.border-radius-full {
  border-radius: 100%;
}

.rounded {
  border-radius: .25rem !important;
}

.rounded-top {
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
}

.rounded-right {
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}

.rounded-left {
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

/* // end border-radius
// BUTTON
// ----------------------------------------------------------- */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media screen and (prefers-reduced-motion:reduce) {
  .btn {
    transition: none;
  }
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn.disabled,
.btn:disabled {
  opacity: .65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: var(--white-md);
  background-color: var(--grey-md);
  border-color: var(--grey);
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 0 rgba(173, 174, 179, 0.25);
  border-radius: 2px;
}

.btn-primary:hover {
  color: var(--white-md) !important;
  background-color: var(--grey) !important;
  border-color: var(--grey-md) !important;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 2px 2px 0 rgba(173, 174, 179, 0.25);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: var(--white-md);
  background-color: var(--grey-soft);
  border-color: var(--grey);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: var(--white-md);
  background-color: var(--grey-md);
  border-color: var(--grey);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 2px 2px 0 rgba(173, 174, 179, 0.25);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
  color: var(--white-md) !important;
  background-color: var(--grey) !important;
  box-shadow: none !important;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
}

.btn-info {
  color: var(--white-md);
  background-color: var(--green-light);
  border-color: var(--green-light);
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 0 rgba(20, 125, 139, 0.25);
  border-radius: 2px;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
}

.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: var(--green-light);
  border-color: var(--green-light);
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning.focus,
.btn-warning:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger.focus,
.btn-danger:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light.focus,
.btn-light:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark.focus,
.btn-dark:focus {
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
}

.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info.focus,
.btn-outline-info:focus {
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
}

.btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning.focus,
.btn-outline-warning:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show>.btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show>.btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
}

.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-link.disabled,
.btn-link:disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-group-lg>.btn,
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn-block {
  display: block;
  width: 100%
}

.btn-block+.btn-block {
  margin-top: .5rem;
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
  width: 100%
}

/* // New buttons */
.btn-grey-light {
  color: var(--black-md);
  background-color: var(--grey-light);
  border-color: var(--green);
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 0 rgba(20, 125, 139, 0.25);
  border-radius: 2px;
}

.btn-grey-light:hover {
  color: var(--black-md);
  background-color: var(--grey-light);
  border-color: var(--grey-light);
}

.btn-grey-light.focus,
.btn-grey-light:focus {
  box-shadow: 2px 2px 0 rgba(20, 125, 139, 0.45);
}

.btn-grey-light.disabled,
.btn-grey-light:disabled {
  color: var(--black-md);
  background-color: var(--grey-light);
  border-color: var(--grey-light);
}

.btn-grey-light:not(:disabled):not(.disabled).active,
.btn-grey-light:not(:disabled):not(.disabled):active,
.show>.btn-grey-light.dropdown-toggle {
  color: var(--black-md);
  background-color: var(--grey-light);
  border-color: var(--grey-light);
}

.btn-grey-light:not(:disabled):not(.disabled).active:focus,
.btn-grey-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-grey-light.dropdown-toggle:focus {
  box-shadow: 2px 2px 0 rgba(20, 125, 139, 0.45);
}

/* // end new buttons
// end button */
