body,
html {
  font-family: 'Montserrat', sans-serif !important;
}


ul.output1,
ul.output1 * {
  list-style-type: none;
  color: #fff;
}

.mat-autocomplete-panel {
  background: var(--red-dark) !important;
}

input.mat-input-element {
  color: white !important;
}

.mat-form-field-type-mat-native-select .mat-input-element {
  color: white !important;
}

.mat-option {
  height: 30px !important;
  font-size: 13px;
}

.modal-backdrop {
  display: none !important;
}

.mat-radio-label-content {
  color: white !important;
}

@media all and (max-width: 992px) {
  #img-brasil {
    display: none;
  }
}

@media all and (max-width: 575px) {
  .info-inicial p {
    font-size: 1rem;
  }

  .breadcrumb-item {
    font-size: .5rem;
  }
}

@media all and (max-width: 360px) {
  .btn-agendar {
    font-size: .8rem !important;
  }

  #search-bar {
    font-size: .8rem !important;
  }

}
