<nav class="navbar navbar-expand-lg bg-grey py-2 px-5">
  <a class="navbar-brand" [routerLink]="'/intro'">
    <img src="../../../../assets/img/logomarcaworana/logo-worana-megativo.png" class="w-200px" alt="Logo Worana">
  </a>
  <button class="navbar-toggler bg-white-md" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto pt-3">
      <li class="nav-item pr-3">
        <a class="nav-link color-white-md" [routerLink]="'/agendamento'">Buscar Fotógrafo</a>
      </li>
      <li class="nav-item pr-3">
        <a class="nav-link color-white-md" [routerLink]="'/acessar/register'">Cadastre-se</a>
      </li>
      <li class="nav-item pr-3">
        <a class="nav-link color-white-md" [routerLink]="'/acessar'">Login</a>
      </li>
      <li class="nav-item pr-3">
        <a class="nav-link" [routerLink]="'/acessar'"><i class="fas fa-shopping-cart color-white-md"></i></a>
      </li>
    </ul>

  </div>
</nav>
