<footer id="footer" class="p-0 bg-red-dark">
  <div class="row m-0 p-3">
    <div class="col-lg-12 d-flex justify-content-around align-items-center ">
      <img src="../../../../assets/img/logomarcaworana/simbolo-worana-negativo.png" class="w-100px" alt="">

      <ul class="d-flex justify-content-around p-0 w-75">
        <li class="fz7 font-weight-bold">Quem Somos</li>
        <li class="fz7 font-weight-bold">Como Funciona</li>
        <li class="fz7 font-weight-bold">FAQ</li>
        <li class="fz7 font-weight-bold">Fale Conosco</li>
        <li class="fz7 font-weight-bold">Termos</li>
        <li class="fz7 font-weight-bold">Privacidade</li>
      </ul>
      <ul class="d-flex">
        <li class="pr-4"><i class="fab fa-facebook-square icon-3x color-white-md"></i></li>
        <li class=""><i class="fab fa-instagram icon-3x color-white-md"></i></li>
      </ul>
    </div>

    <div class="col-12 d-flex justify-content-around flex-column align-items-center">
      <p class="mb-0 fz8"> Copyright {{ year }} &copy; Worana</p>
    </div>
  </div>

</footer>
