ul {
  list-style-type: none;
}


@media all and (max-width: 1024px) {}

@media all and (max-width: 768px) {
  ul {
    flex-direction: column;
  }
}

@media all and (max-width: 575px) {}

@media all and (max-width: 360px) {}
