<!-- ======== @Region: #page-header ======== -->
<div id="page-header">
  <div class="container clearfix d-flex justify-content-between flex-column-reverse">
    <h4 class="mb-0 float-md-left color-red-dark text-uppercase">
      Busca por Fotógrafos
    </h4>
    <!-- Page header breadcrumb -->
    <nav class="breadcrumb float-md-right"> <a class="breadcrumb-item color-red-dark" [routerLink]="''">Home</a>
      <span class="breadcrumb-item active">Busca por fotógrafos</span> </nav>
  </div>
</div>

<!-- ======== @Region: #content ======== -->
<div id="content" class="py-3 min-height">
  <div class="container">
    <div class="row">

      <!-- Products sidebar -->
      <div class="col-lg-4 order-lg-1">

        <!-- Sections Menu-->
        <ul class="nav nav-section-menu mb-4 pr-2 pt-0 pb-3 border-0">
          <!-- <li class="nav-header fz10 pb-2 text-center">Filtros</li> -->
          <li class="border-right-1 bg-red-dark rounded p-4">

            <mat-form-field class="w-100">
              <mat-label>Evento</mat-label>
              <mat-select [(value)]="evento">
                <mat-option value="Casamento">Casamento</mat-option>
                <mat-option value="Debutante">Debutante</mat-option>
                <mat-option value="Bodas">Bodas</mat-option>
                <mat-option value="Aniversário">Aniversário</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Local</mat-label>
              <mat-select [(value)]="local">
                <mat-option value="Belo Horizonte">Belo Horizonte</mat-option>
                <mat-option value="São Paulo">São Paulo</mat-option>
                <mat-option value="Rio de Janeiro">Rio de Janeiro</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Data">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <label id="example-radio-group-label d-block" class="color-white">Avaliação</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>

            <label id="example-radio-group-label1" class="color-white w-100">Faixa de Preço</label>
            <mat-slider class="example-margin w-100" [max]="15000" [min]="400" [step]="100" [thumbLabel]=true
              [tickInterval]=true [(ngModel)]="value" [vertical]=false>
            </mat-slider>


            <button type="submit" class="btn btn-info bg-red-light w-100">
              <i class="fa fa-search pr-2"></i>
              Filtrar </button>
          </li>
        </ul>

      </div>

      <!-- Products grid -->
      <div class="col-lg-8 order-lg-2">

        <div class="row">

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Ribbon -->
              <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-red-light color-white font-weight-bold">
                Sugestão Worana</div>
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo1.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo2.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Gestante / Parto / Debutante</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Ludmila Coelho</a>
                  </h4>
                  <p class="font-weight-bold">São Paulo</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i></p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">3 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo3.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Debutante / Sensual</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Edu Santos</a>
                  </h4>
                  <p class="font-weight-bold">Belo Horizonte</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"><i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo4.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo5.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo6.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo7.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo8.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo9.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo10.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo11.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 ">
            <!-- Product 7 -->
            <div class="card shadow-lg product-card mb-4 border-radius-4px">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row bg-red-dark color-white">
                <!-- Image content -->
                <div class="col-md-5 mb-2 mb-md-0">
                  <img class="rounded img-fluid w-250px" src="../../../../assets/img/fotografos/fotografo12.jpg"
                    alt="Card image cap">
                </div>
                <!-- Product details -->
                <div class="col-md-7 d-flex flex-column align-items-start">
                  <p class="text-uppercase text-xs mb-0">Casamento / Bodas</p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="color-red-light">Fernando Moraes</a>
                  </h4>
                  <p class="font-weight-bold">Rio de Janeiro</p>
                  <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right"> <i class="fa fa-star color-white"></i>
                    <i class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> <i
                      class="fa fa-star color-white"></i> <i class="fa fa-star color-white"></i> </p>

                  <p class="d-none d-lg-inline pt-1 m-0 fz8 color-red-light">12 horários
                    disponíveis nesta mês</p>
                  <div class="mt-auto">
                    <button [routerLink]="'/perfil'" mat-raised-button color="warn">Ver Mais</button>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ver Horários</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <!-- Product 7 -->
            <div class="card product-card mb-4 card-outline-primary">
              <!-- Content -->
              <div class="card-body p-3 pos-relative row">
                <!-- Product details -->
                <div class="col-12 d-flex flex-column align-items-start">
                  <p class="text-muted text-uppercase text-xs mb-0"><span class="text-primary">Consulta</span> /
                    Cardiologista
                  </p>
                  <h4 class="card-title mb-2">
                    <a href="#" class="text-grey-dark">Dr. Pedro Pereira</a>
                  </h4>
                  <p class="font-weight-bold">R$49.99</p>
                  <div class="mt-auto w-100">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="thead-inverse">
                          <tr>
                            <th><i class="fas fa-angle-left"></i></th>
                            <th class="text-center font-weight-bold">26/04</th>
                            <th class="text-center font-weight-bold">27/04</th>
                            <th class="text-center font-weight-bold">28/04</th>
                            <th class="text-center font-weight-bold">29/04</th>
                            <th class="text-center font-weight-bold">30/04</th>
                            <th class="text-center font-weight-bold">01/05</th>
                            <th class="text-center font-weight-bold">02/05</th>
                            <th class="text-center font-weight-bold">03/05</th>
                            <th><i class="fas fa-angle-right"></i></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th></th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">08:30</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">09:30</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">08:00</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">07:00</a>
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">14:30</a>
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">08:30</a>
                            </th>
                            <th></th>
                          </tr>


                          <tr>
                            <th></th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">09:00</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">10:00</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">08:30</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">09:00</a>
                            </th>
                            <th class="text-center">

                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">15:30</a>
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                            <th></th>
                          </tr>


                          <tr>
                            <th></th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">09:30</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">11:30</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">09:00</a>
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">

                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">16:30</a>
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                            <th></th>
                          </tr>

                          <tr>
                            <th></th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">10:00</a>
                            </th>
                            <th class="text-center">
                              <a (click)="goToPagamento()" data-toggle="tooltip" title="Clique para agendar"
                                data-placement="top" class="mb-1 btn btn-green btn-rounded btn-sm" role="button"
                                aria-pressed="true">12:00</a>
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                            <th></th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
