    <!-- ======== @Region: #page-header ======== -->
    <div id="page-header">
      <div class="container clearfix d-flex justify-content-between flex-column-reverse">
        <h4 class="mb-0 float-md-left color-red-dark text-uppercase">
          Perfil
        </h4>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-right"> <a class="breadcrumb-item" href="index.html">Home</a>
          <span class="breadcrumb-item active">Perfil Fotógrafo</span> </nav>
      </div>
    </div>


    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 clearfix">

      <!-- About -->
      <div class="bg-dark text-white">
        <div class="container-fluid row">
          <div class="col-9">
            <div class="row">
              <div class="col-6 p-3 mx-auto d-flex justify-content-center align-items-center">
                <img class="rounded w-400px" src="../../../../assets/img/fotografos/fotografo10.jpg" alt="">
              </div>

              <div class="col-6 p-3">
                <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-3 op-6">
                  Sobre mim
                </h2>
                <p>Adipiscing ideo quae scisco. Caecus iustum nulla suscipere venio volutpat. Ex letalis lobortis. Comis
                  distineo feugiat nibh praemitto scisco similis sit suscipit velit.</p>
                <p>At fere patria plaga quidne similis. Dolore esca luctus populus wisi. Accumsan enim eu molior refero.
                  Consequat loquor occuro pneum roto suscipit vindico.</p>
                <hr class="my-3 hr-white op-1" />
                <div class="row">
                  <div class="col-md-3 text-sm">Ensaios</div>
                  <div class="col-md-9">
                    <p class="text-muted">8</p>
                  </div>
                  <div class="col-md-3 text-sm">Casamentos</div>
                  <div class="col-md-9">
                    <p class="text-muted">23</p>
                  </div>
                  <div class="col-md-3 text-sm">Gestante</div>
                  <div class="col-md-9">
                    <p class="text-muted">7</p>
                  </div>
                  <div class="col-md-3 text-sm">Sensual</div>
                  <div class="col-md-9">
                    <p class="text-muted">8</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="col-3 order-lg-2 p-3">
            <div class="card px-3 py-4 mb-3 row-hover pos-relative">
              <div class="row align-items-center ">
                <div class="col-12">
                  <p class="text-muted mb-2">Valor: R$700,00/hora</p>
                </div>
                <div class="col-12">
                  <p class="text-muted mb-2">Local: Belo Horizonte - MG</p>
                </div>
                <div class="col-12">
                  <p class="text-muted mb-2">Data: 25/08/2019</p>
                </div>
                <div class="col-12">
                  <p class="text-muted mb-2">Evento: Casamento</p>
                </div>
                <div class="col-12 text-md-center">
                  <a [routerLink]="'/pagamento'"
                    class="btn btn-danger text-uppercase font-weight-bold d-lg-block">Agendar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div id="gallery" class="py-4 py-lg-6 animated animated-done" data-animate="fadeIn" data-animate-delay="0.1"
        style="animation-delay: 0.1s;">
        <div class="container text-center">
          <h2 class="display-4 font-weight-normal text-dark text-rufina">
            <i class="la la-heart text-primary d-block"></i> Últimas Fotos
          </h2>
          <div class="row">
            <div class="col-md-4 mb-4">
              <img class="w-100" src="../../../../assets/img/index-wedding/galery_1.jpg" alt="Image 1">
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-100" src="assets/img/index-wedding/galery_2.jpg" alt="Image 2">
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-100" src="assets/img/index-wedding/galery_3.jpg" alt="Image 3">
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-100" src="../../../../assets/img/index-wedding/galery_1.jpg" alt="Image 1">
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-100" src="assets/img/index-wedding/galery_2.jpg" alt="Image 2">
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-100" src="assets/img/index-wedding/galery_3.jpg" alt="Image 3">
            </div>
          </div>
        </div>
      </div>




      <!-- Comments -->
      <div id="clients">

        <div class="container pt-5 pb-7">
          <div class="row grid-inner-borders-dotted">

            <div class="col-12 text-center">
              <h2 class="display-4 font-weight-normal text-dark text-rufina">
                <i class="la la-heart text-primary d-block"></i> Avaliações
              </h2>
            </div>

            <!--Feedback 1-->
            <div class="col-lg-4 d-lg-flex animated animated-done" data-animate="fadeIn" data-animate-delay="0.1"
              style="animation-delay: 0.1s;">
              <blockquote class="d-lg-flex blockquote blockquote-bubble mb-0">
                <p class="blockquote-bubble-content">Blandit erat neque olim pala paratus pertineo vulputate.</p>
                <footer class="blockquote-footer">
                  <img src="../../../../assets/img/team/team-man-1.jpg" alt="Jimi Bloggs" class="img-circle mr-1">
                  Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>

            <!--Feedback 2-->
            <div class="col-lg-4 d-lg-flex animated animated-done" data-animate="fadeIn" data-animate-delay="0.2"
              style="animation-delay: 0.2s;">
              <blockquote class="d-lg-flex blockquote blockquote-bubble mb-0">
                <p class="blockquote-bubble-content">Appellatio distineo esse huic luptatum modo odio similis vindico.
                </p>
                <footer class="blockquote-footer">
                  <img src="../../../../assets/img/team/team-girl-1.jpg" alt="Jimi Bloggs" class="img-circle mr-1">
                  Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>

            <!--Feedback 3-->
            <div class="col-lg-4 d-lg-flex animated animated-done" data-animate="fadeIn" data-animate-delay="0.3"
              style="animation-delay: 0.3s;">
              <blockquote class="d-lg-flex blockquote blockquote-bubble mb-0">
                <p class="blockquote-bubble-content">Bene caecus ex genitus vereor.</p>
                <footer class="blockquote-footer">
                  <img src="../../../../assets/img/team/team-girl-2.jpg" alt="Jimi Bloggs" class="img-circle mr-1">
                  Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- #Content -->
